.services-content {
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.serv__item {
  position: relative;
  padding: 40px 0;
}

.serv__item-arrow {
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 55px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.serv__item-arrow img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.serv__item-text {
  font-size: clamp(1.1rem, 5vw, 3.125rem);
  color: rgb(182, 182, 182, 0.2);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #2f2e2e;
}

.serv__item:hover .serv__item-text {
  color: #fff;
}

.serv__item:hover .serv__item-arrow img {
  filter: invert(100%);
}
