.abt-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.abt-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.abt-slider {
  position: absolute;
  top: 15vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 200px;
  perspective-origin: 50% 100%;
}

.abt-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
}

.abt-copy {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.abt-card h1 span {
  position: relative;
  display: inline-block;
}
