.abt-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.abt-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.abt-slider {
  position: absolute;
  top: 15vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 200px;
  perspective-origin: 50% 100%;
}

.abt-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
}

.abt-copy {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.abt-card h1 span {
  position: relative;
  display: inline-block;
}
.abt-card .abt-copy h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  /* background-image: linear-gradient( */
  /*   90deg, */
  /*   rgba(37, 99, 235, 1) 0%, */
  /*   rgba(34, 197, 94, 1) 35%, */
  /*   rgba(79, 70, 229, 1) 100% */
  /* ); */
  /* background-size: 100%; */
  /* background-repeat: repeat; */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* -moz-background-clip: text; */
  /* -moz-text-fill-color: transparent; */
}

.abt-card .abt-copy p {
  font-size: clamp(0.7rem, 2vw, 1.5rem);
}
