.proj_vertical_heading {
  line-height: 85%;
  border-left: 5px solid teal;
  font-size: clamp(1rem, 5vw, 3.75rem);
}

.proj_vertical_item {
  border-left: 3px solid #32205b;
}

.proj_vertical_item h2 {
  font-size: clamp(25px, 5vw, 40px);
  font-stretch: expanded;
  line-height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(37, 99, 235, 1) 0%,
    rgba(34, 197, 94, 1) 35%,
    rgba(79, 70, 229, 1) 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.proj_vertical_container {
  width: 95%;
  margin: auto;
}

.proj_vertical {
  padding: 50px 0;
  height: 70vh;
  width: 100vw;
  overflow-x: hidden;
}

.proj_col {
  width: 50%;
}

.proj_vertical_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.proj_vertical_content .proj_col_left {
  height: 100%;
}

.proj_vertical_content .proj_col.proj_col_right {
  width: 40%;
}

.proj_vertical_item:not(:last-child) {
  margin-bottom: 240px;
}

.proj_list {
  list-style-type: disc;
}
