:root {
  --splashindex: 35px;
  --splashaccentcolor: teal;
  --splashFontSize: 90px;
  --splashFontcolor: #0a0a0a;
  --secondaryColor: #0a0a0a;
  --fz-big: 90px;
}
.wrapp {
  z-index: 1;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

.color {
  color: var(--splashaccentcolor);
}

.splash_header {
  overflow: hidden;
}

.splash_header__bl {
  gap: var(--splashindex);
  border-radius: 20px;
  z-index: 2;
}

.header__text {
  width: auto;
  height: 100%;
}

.splash_title {
  font-size: var(--splashFontSize);
  margin: 0;
  color: var(--splashFontcolor);
  text-transform: uppercase;
  line-height: 0.7;
  height: auto;
}

.title_line {
  display: flex;
  align-items: center;
  gap: var(--splashindex);
}

.title_line:last-child {
  margin-top: var(--splashindex);
  padding-right: 20%;
}

.splash_title_img {
  flex: 1 1 10%;
  min-width: 1px;
  height: 65px;
  border-radius: 15px;
  overflow: hidden;
}

.title__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash_background {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 1 1 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 20px;
}

.splash_background img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash_header__footer {
  position: absolute;
  padding: 0 calc(var(--splashindex) * 2);
  pointer-events: none;
  width: 100%;
  height: auto;
  bottom: calc(var(--splashindex) * 2);
  left: 0;
  z-index: 2;
}

.splash_header__footer-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.splash_header__footer-text {
  position: relative;
  padding: 15px 35px 15px 70px;
  color: var(--secondaryColor);
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid #a3a2a21f;
  border-radius: 20px;
  background: #78787808;
  backdrop-filter: blur(15px);
}

.splash_header__footer-text:nth-child(2) {
  margin-left: auto;
  text-align: right;
  line-height: 0.7;
  padding: 0 20px;
  font-size: 50;
}

.splash_header__footer-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.splash_header__footer-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 9s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.splash_loader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s;
}

.splash_loader__item {
  width: 5.555vw;
  height: 100%;
  background-color: var(--splashaccentcolor);
}

.gs_anim1,
.gs_anim2 img,
.gs_anim3 {
  will-change: transform;
}

.gs_anim1,
.gs_anim3 {
  opacity: 0;
  transform: translateX(-30%);
}

.gs_anim2 {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

gs_anim2 img {
  transform: scale(1.2);
}
