.contact-card {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.58);
  color: rgb(30, 0, 128);
}

.hero__line {
  transform: scaleX(0);
  transform-origin: center center;
}

.banner-text {
  background: linear-gradient(
    90deg,
    rgba(37, 99, 235, 1) 0%,
    rgba(34, 197, 94, 1) 35%,
    rgba(79, 70, 229, 1) 100%
  );
}
