.skills h1,
p {
  transform: translate(-50%, -50%);
}

.skills h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}
.skills {
  filter: brightness(40%);
  transition: 0.9s ease-in-out;
}

.skills:hover {
  filter: brightness(100%);
}
.collage-title {
  font-size: clamp(0.5rem, 5vw, 1rem);
}
@media (min-width: 1135px) {
  .collage-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
