.container-header {
  background: var(--backgrnd);
  font-family: "Poppins";
  box-shadow: 0 0 3px #000;
}

.container-header ul li {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.homeBannerText {
  display: grid;
  height: 50px;
  font-size: 2rem;
  grid-template-rows: 22px;
  align-items: center;
  line-height: 1.7;
  overflow: hidden;
  padding: 1rem;
}
