.container-header {
  background: var(--backgrnd);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  box-shadow: 0 0 3px #000;
  margin: 0 auto;
  width: 100%;
}

.menu {
  font-size: 20px;
  padding: 0px 15px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu > li {
  white-space: nowrap;
  position: relative;
  height: 100%;
}

.menu > a {
  display: flex;
  align-items: center;
}

.menu > ul > a {
  text-decoration: none;
}
.menu > li > a > img {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px;
}
.menu button:hover {
  transition: all 0.25s;
}
.menu button {
  background-color: transparent;
  border: 2px teal solid;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 140px;
  color: white;
  border-radius: 50em;
}
.logo,
.btnContact {
  display: flex;
  align-items: center;
}

.logo > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  text-decoration: none;
  font-size: 25px;
}

.logo a:hover {
  letter-spacing: 1px;
  color: red;
}

.items {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 0px 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
}

.items:hover {
  text-decoration: underline;
}
.items:before {
  content: "";
  position: absolute;
  border-right: 10px solid green;
}
.items:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  left: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: transparent;
}
