.menu-bar,
.menu-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 250;
}
.menu-bar a,
.menu-open p {
  color: #fff;
  cursor: pointer;
}

.menu-close p {
  color: #fff;
  cursor: pointer;
}
.menu-bar > .menu-logo > .logo,
.menu-open p {
  font-size: clamp(1rem, 5vw, 2rem);
}
.menu-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background: teal;
  z-index: 265;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
}

.menu-copy {
  width: 100%;
  height: 100%;
}
.menu-copy.preview img {
  width: 100%;
  height: 100%;
}

.menu-links {
  width: 100%;
  margin: 20em 0;
}

.menu-link-item {
  width: 100%;
  padding: 0 2em;
  display: flex;
  cursor: pointer;
}
.menu-link-item p {
  position: absolute;
  top: 0%;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -0.02em;
  transition: color 0.25s;
}

.menu-link-label,
.menu-link-info,
.menu-link-tag {
  position: relative;
  overflow: hidden;
}

.menu-link-label,
.menu-link-tag {
  flex: 1;
  height: clamp(15px, 5vw, 20px);
  font-size: clamp(15px, 5vw, 20px);
}

.menu-link-tag {
  text-align: right;
}
.menu-link-label {
  text-align: left;
}

.menu-link-info {
  flex: 5;
  height: clamp(20px, 5vw, 50px);
  font-size: clamp(20px, 5vw, 50px);
  text-align: center;
}

.menu-link-label p:nth-child(2),
.menu-link-info p:nth-child(2),
.menu-link-tag p:nth-child(2) {
  top: 100%;
  color: zinc;
}
.menu-links:hover .menu-link-label p:nth-child(1),
.menu-links:hover .menu-link-info p:nth-child(1),
.menu-links:hover .menu-link-tag p:nth-child(1) {
  filter: blur(2px);
}

.preview {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  z-index: -2;
  pointer-events: all;
}

.preview-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preview-img-2 {
  top: 20px;
  height: 20px;
}

.preview-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 965px) {
  .menu-link-label,
  .menu-link-tag {
    font-size: clamp(20px, 5vw, 40px);
    height: clamp(20px, 5vw, 40px);
  }
  .menu-link-info {
    display: hidden;
  }
}

.menuBannerText .banner {
  position: relative;
  text-decoration: none;
  pointer-events: all;
  overflow: hidden;
}

.menuBannerText .banner div,
.menuBannerText .banner::after {
  transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: clamp(1rem, 5vw, 2rem);
}
.menu-banner-item {
  font-size: clamp(1rem, 5vw, 2rem);
}
.menuBannerText .banner::after {
  content: attr(data-txt);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
  background-color: teal;
  font-size: clamp(1rem, 5vw, 2rem);
  line-height: auto; /* 32px */
  background-image: linear-gradient(
    90deg,
    rgba(37, 99, 235, 1) 0%,
    rgba(34, 197, 94, 1) 35%,
    rgba(79, 70, 229, 1) 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.menuBannerText .banner:hover div,
.menuBannerText .banner:hover::after {
  transform: translateY(-100%);
}
